<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'VIEW.RESTAURANT_LIST.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="proto-button" (click)="openFilterModal()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar mode="ios" color="primary">
    <ion-searchbar class="proto-searchbar" mode="ios" (ionChange)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #ListContent>
  <ion-refresher mode="ios" slot="fixed" pullFactor="0.3" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      [pullingText]="'REFRESHER.PULLING_TEXT' | translate"
      [refreshingText]="'REFRESHER.REFRESHING_TEXT' | translate">
    </ion-refresher-content>
   </ion-refresher>

  <ion-list mode="ios" class="proto-item-list">
    <ion-item button mode="ios" class="proto-item"
      *ngFor="let restaurant of restaurants.items; trackBy: trackByFunction"
      (click)="openDetailPage(restaurant)">

      <ng-container *ngIf="!restaurant.isSkeleton">
        <proto-image
          imageType="thumbnail"
          [imageId]="restaurant.image"
          slot="start"></proto-image>
        <ion-label mode="ios" text-wrap="normal" class="proto-item__label">
          <p class="p">{{ restaurant.title }}</p>
          <small>{{ restaurant.canonicalAddress }}</small> <br>
          <small>{{ 'VIEW.RESTAURANT_LIST.TIME_AGO' | translate }}{{ restaurant.createdAt | amLocale: currentLang | amTimeAgo:true}}</small> <br>
        </ion-label>
      </ng-container>

      <ng-container *ngIf="restaurant.isSkeleton">
        <ion-thumbnail slot=start>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label mode="ios" text-wrap="normal" class="proto-item__label">
          <p class="p">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <small>
            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
          </small>
        </ion-label>
      </ng-container>
    </ion-item>
  </ion-list>

  <div class="empty-state"
    *ngIf="restaurants.items.length === 0 && !restaurants.meta.isLoading">
    <h2 class="empty-state-headline">{{ 'EMPTY.RESTAURANT_LIST.TITLE' | translate }}</h2>
    <p class="empty-state-message" *ngIf="!searchValue" [innerHTML]="'EMPTY.RESTAURANT_LIST.MESSAGE' | translate"></p>
    <p class="empty-state-message" *ngIf="searchValue" [innerHTML]="'EMPTY.SEARCH.MESSAGE' | translate: { query: searchValue }"></p>
  </div>

  <ion-infinite-scroll threshold="150px"
    [disabled]="!restaurants.meta.hasMore"
    (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
