@import 'src/theme/imports/helpers/middle-content';

.social-login {
  position: relative;
  margin-right: var(--proto-space-m);
  margin-left: var(--proto-space-m);
  padding-bottom: var(--proto-space);
  border-bottom: 1px solid var(--ion-border-color);

  .button {
    margin-bottom: var(--proto-space);
  }

  &__divider-text {
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: 0 8px;
    background: var(--ion-background-color);
    color: var(--ion-color-medium);
    transform: translate(-50%, 50%);
  }
}

.registration-block {
  display: block;
  margin: var(--proto-space-m);
  padding: var(--proto-space-m) 0;
  border-top: 1px solid var(--ion-border-color);
}

.imprint-link {
  @extend %middle-content;

  width: 200px;
  height: 40px;
  margin: var(--proto-space) auto;
}
