<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'VIEW.LOGIN.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="form-block social-login">
      <ion-button color="facebook" class="proto-button" expand="block"
        (click)="loginWithProvider('facebook')">
        {{ 'BUTTON.LOGIN_FACEBOOK' | translate }}
      </ion-button>
      <ion-button expand="block" color="twitter" class="proto-button"
        (click)="loginWithProvider('twitter')">
        {{ 'BUTTON.LOGIN_TWITTER' | translate }}
      </ion-button>

      <p class="social-login__divider-text">{{ 'TERM.OR' | translate }}</p>
    </div>

    <form class="form-block submit-form" novalidate
      [formGroup]="loginForm"
      [ngClass]="{ 'is-disabled': isLoading }"
      (ngSubmit)="login()">
      <ion-list mode="ios" class="proto-input-list">
        <ion-item class="proto-input has-valid-state">
          <ion-label position="floating">{{ 'INPUT.LABEL.EMAIL' | translate }}</ion-label>
          <ion-input type="email" value="" formControlName="email" [placeholder]="'INPUT.PLACEHOLDER.EMAIL' | translate"></ion-input>
        </ion-item>

        <proto-show-hide-password
          formControlName="password"
          [label]="('INPUT.LABEL.PASSWORD' | translate)"
          [placeholder]="('INPUT.PLACEHOLDER.PASSWORD' | translate)">
        </proto-show-hide-password>

        <div class="form-buttons">
          <a class="hyperlink" [routerLink]="['/password-reset']" routerDirection="forward">{{ 'BUTTON.PASSWORD_FORGOTTEN' | translate }}</a>
          <ion-button class="proto-button" expand="block" type="submit"
            [disabled]="!formIsValid() || isLoading">
            <ion-spinner *ngIf="isLoading"></ion-spinner>
            <ng-container *ngIf="!isLoading" >
              {{ 'BUTTON.LOGIN' | translate }}
            </ng-container>
          </ion-button>
          <!-- this allows you to submit form via enter key (e.g. useful for pwa) -->
          <input class="hidden-submit-button" type="submit">
        </div>
      </ion-list>
    </form>

    <div class="registration-block">
      <p>
        {{ 'VIEW.LOGIN.NOT_REGISTERED_YET' | translate }}
        <a class="hyperlink" [routerLink]="['/register']" routerDirection="forward">{{ 'BUTTON.REGISTER' | translate }}</a>
      </p>
    </div>
    <a class="hyperlink imprint-link" [routerLink]="['/imprint']" routerDirection="forward">{{ 'VIEW.IMPRINT.TITLE' | translate }}</a>
</ion-content>
