<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'VIEW.LOGIN_CONSENT.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form-block submit-form" novalidate
    [formGroup]="loginConsentForm"
    [ngClass]="{ 'is-disabled': isLoading }"
    (ngSubmit)="consent()" >
    <ion-list class="proto-input-list">
      <ion-item class="proto-checkbox" handle-external-links>
        <ion-checkbox formControlName="privacyConsent"></ion-checkbox>
        <ion-label class="ion-text-wrap proto-checkbox-label" [innerHTML]="'INPUT.LABEL.PRIVACY_CONSENT' | translate"></ion-label>
      </ion-item>

      <ion-item class="proto-checkbox" handle-internal-links>
        <ion-checkbox formControlName="termsConsent"></ion-checkbox>
        <ion-label class="ion-text-wrap proto-checkbox-label" [innerHTML]="'INPUT.LABEL.TERMS_CONSENT' | translate"></ion-label>
      </ion-item>

      <div class="form-buttons">
        <ion-button class="proto-button" expand="block" type="submit"
          [disabled]="!formIsValid() || isLoading">
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <ng-container *ngIf="!isLoading" >
            {{ 'BUTTON.CONSENT' | translate }}
          </ng-container>
        </ion-button>
        <ion-button class="proto-button" color="dark" fill="clear" expand="block"
          [disabled]="isLoading"
          (click)="close()">
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <ng-container *ngIf="!isLoading" >
            {{ 'BUTTON.CANCEL' | translate }}
          </ng-container>
        </ion-button>
        <!-- this allows you to submit form via enter key (e.g. useful for pwa) -->
        <input class="hidden-submit-button" type="submit">
      </div>
    </ion-list>
  </form>
</ion-content>
