app-info {
  display: block;
}
.app-info {
  &-list {
    // @extend %reset-list;
    font-size: 12px;
    color: var(--proto-color-grey-semi);
    padding: 0;
    margin: var(--proto-space-m);
    li {
      display: flex;
      // @extend %small;
    }
  }
  &-column {
    margin-bottom: var(--proto-space-s);
    font-weight: bold;
    width: 110px;
  }
}
