<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios" slot="start">
      <proto-back-button></proto-back-button>
    </ion-buttons>
    <ion-title mode="ios">{{ 'VIEW.PASSWORD_RESET.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!token">
    <form class="submit-form" novalidate *ngIf="!showRequestSuccessMessage" [formGroup]="requestForm" (ngSubmit)="sendRequest()" [ngClass]="{ 'is-disabled': isLoading }">
      <ion-list mode="ios" class="proto-input-list">
        <ion-item mode="ios" class="proto-input">
          <ion-label mode="ios" stacked>{{ 'INPUT.LABEL.EMAIL' | translate }} *</ion-label>
          <ion-input mode="ios" type="email" value="" formControlName="email"></ion-input>
        </ion-item>
        <div class="submit-form__cta">
          <ion-button class="button-cta" [disabled]="!requestFormIsValid() || isLoading"
            (click)="sendRequest()">
            {{ 'BUTTON.REQUEST_NEW_PASSWORD' | translate }}
          </ion-button>
        </div>
      </ion-list>
    </form>
    <div *ngIf="showRequestSuccessMessage">
      {{ 'VIEW.PASSWORD_RESET.REQUEST_SUCCESS' | translate }}
    </div>
  </div>

  <div *ngIf="token">
    <form class="submit-form" novalidate *ngIf="!showResetSuccessMessage" [formGroup]="resetForm" (ngSubmit)="reset()" [ngClass]="{ 'is-disabled': isLoading }">
      <ion-list mode="ios" class="proto-input-list">
        <ion-item mode="ios" class="proto-input">
          <ion-label mode="ios" stacked>{{ 'INPUT.LABEL.NEW_PASSWORD' | translate }} *</ion-label>
          <ion-input mode="ios" type="password" value="" formControlName="password"></ion-input>
        </ion-item>
        <div class="submit-form__cta">
          <ion-button class="button-cta" [disabled]="!resetFormIsValid() || isLoading"
            (click)="reset()">
            {{ 'BUTTON.RESET_PASSWORD' | translate }}
          </ion-button>
        </div>
      </ion-list>
    </form>
  </div>
  <div *ngIf="showResetSuccessMessage">
    {{ 'VIEW.PASSWORD_RESET.RESET_SUCCESS' | translate }}
  </div>
</ion-content>
