@import 'src/helpers';

ion-header {
  ion-button {
    --color: --proto-color-grey-dark;
    font-family: var(--proto-h1-font-family);
    font-weight: var(--proto-h1-font-weight);
    text-transform: uppercase;
  }
}

ion-slides {
  --bullet-background: var(--proto-color-grey-semi);
  --bullet-background-active: var(--proto-color-grey-dark);
  height: calc(100% - var(--proto-space) - env(safe-area-inset-bottom));
}

ion-slide {
  flex-direction: column;
}

.slide-img {
  @include cover(375, 290, transparent);
  width: 100%;
}

.slide-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  padding: var(--proto-space-l) var(--proto-space-s);

  h2 {
    margin-bottom: var(--proto-space-m);
  }
}

.buttons-onboarding {
  position: absolute;
  left: 50%;
  bottom: var(--proto-space);
  bottom: calc(var(--proto-space) + env(safe-area-inset-bottom));
  z-index: 2;
  margin: 0;
  transform: translateX(-50%);
}