@import 'src/helpers';

ion-content {
  --offset-top: 0!important;
}

ion-slides {
  --bullet-background: var(--ion-color-medium);
  --bullet-background-active: var(--ion-color-primary);
  height: 100%;
}

ion-slide {
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: calc(var(--slides-offset-bottom) + var(--proto-space-xl));
  background: #fff;

  &:nth-child(even) {
    background: #fafafa;
  }
}

.slide-img {
  @include cover(3, 2, #eee);
  flex: none;
  width: 100%;
}

.slide-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: var(--proto-space-m);

  &__icon {
    margin: 0 auto 3vh;
    font-size: 64px;
  }

  .slide-content__title {
    margin-bottom: 5vh;
  }

  .slide-content__text {
    font-weight: bold;
  }
}

.skip-button {
  position: absolute;
  top: calc(var(--proto-space-s) + var(--ion-safe-area-top));
  right: var(--proto-space);
  z-index: 1;
  margin: 0;
}

.footer-buttons {
  pointer-events: none;
  position: absolute;
  left: 50%;
  bottom: calc(var(--proto-space-xl) + var(--ion-safe-area-bottom));
  z-index: 2;
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--proto-space-m);
  transform: translate(-50%, 12px);

  .proto-button {
    pointer-events: initial;
  }
}

.prev-button {
  ion-icon {
    margin-left: -2px;
  }
}

.next-button {
  ion-icon {
    margin-right: -2px;
  }
}

