<ion-tabs>
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab">
    <ion-fab-button
      (click)="scan()">
      <ion-icon name="add"
        *ngIf="!modalIsOpen"></ion-icon>
      <ion-spinner name="crescent"
      *ngIf="modalIsOpen"></ion-spinner>
    </ion-fab-button>
  </ion-fab> -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button 
      *ngFor="let tab of tabs"
      tab="{{ tab.tab }}">
      <ion-icon src="{{ tab.iconSource }}"
        *ngIf="tab.iconSource"></ion-icon>
      <ion-icon name="{{ tab.iconName }}"
        *ngIf="tab.iconName"></ion-icon>
      <ion-label>{{ tab.label | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
