.proto-button {
  text-transform: none;
  letter-spacing: initial;

  &.button-clear {
    @extend %h3;
  }

  &.button-solid {
    @extend %h3;
    --border-radius: var(--proto-button-border-radius);
    height: var(--proto-button-height);
  }

  &.button-round {
    --padding-start: 0;
    --padding-end: 0;
    --border-radius: 50%;
    width: 42px;
    height: 42px;
    margin: 0;
    font-size: 24px;
  }
}
