.form-block {
  margin-top: var(--proto-space-m);
}

.form-info-message {
  margin: var(--proto-space-m);
}

.form-buttons {
  display: flex;
  flex-direction: column;
  padding: 0 var(--proto-space-m);

  .hyperlink {
    display: block;
    margin: var(--proto-space-xs) 0 var(--proto-space) auto;
  }

  ion-footer & {
    padding-top: var(--proto-space-s);
    padding-bottom: var(--proto-space-s);
    flex-direction: initial;
    justify-content: space-between;
    align-items: center;
  }
}

.proto-checkbox + .form-buttons, .proto-range + .form-buttons {
  margin-top: var(--proto-space);
}
