.proto-input-list {
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.proto-input {
  --min-height: 58px;
  --border-radius: 4px;
  --border-width: 1px;
  --inner-border-width: 0;
  --border-style: solid;
  --border-color: var(--ion-color-medium-tint);
  --background: var(--ion-color-light);

  margin-bottom: var(--proto-space);
  margin-left: var(--proto-space-m);
  padding: 0;
  width: calc(100% - var(--proto-space-m) * 2);

  ion-input {
    --placeholder-opacity: 0;
    align-items: flex-end;
  }

  .label-floating {
    position: absolute;
  }

  &.item-has-placeholder .label-floating, .label-floating {
    @extend %input;
    transform: translateY(19px) scale(1);
  }

  &.item-has-value, &.item-has-focus, &.ion-focused {
    --border-color: var(--ion-color-medium-shade);

    .label-floating {
      transform: translateZ(0) translateY(8px) scale(.8);
      opacity: .5;
    }

    ion-input {
      --placeholder-opacity: 0.5;
    }
  }

  &.ion-touched.ion-invalid {
    --border-color: var(--ion-color-danger);
  }


  &:not(.proto-input--toggle) {
    .native-input, .native-textarea {
      @extend %input;
      margin: var(--proto-space-s) 0;
      padding: 0;

      &::placeholder {
        @extend %input;
        transition: opacity .3s;
      }
    }
  }

  &.item-toggle {
    .label {
      @extend %p;
      line-height: 1.5;
    }
    .toggle {
      padding-right: 0;
    }
  }

  ion-input:focus, .text-input {
    outline: none;
  }

  &[disabled], .is-disabled & {

  }
}

// https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/
// Change Autocomplete Styles in WebKit Browsers

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: #777;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.proto-searchbar {
  --clear-button-color: var(--ion-color-light);
  --icon-color: var(--ion-color-light);

  &.searchbar-has-focus, &.searchbar-has-value {
    --background: var(--ion-color-secondary);
    .searchbar-input {
      border-color: var(--ion-color-primary);
    }
  }

  .searchbar-input {
    border: 1px solid transparent;
  }
}

.proto-input {
  &.item-select {
    @extend %p;
    --min-height: 50px;

    ion-label {
      color: var(--ion-color-medium-shade);
    }
  }

  ion-select {
    max-width: 65%;
  }
}

ion-list-header {
}


.proto-range-checkbox {
  --padding-start: var(--proto-space-m);
  --padding-end: var(--proto-space);

  ion-checkbox {
    margin-right: 8px;
  }

  .proto-range-label {
    @extend %p;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    margin: 0;
    color: var(--ion-text-color);
    opacity: .5;
    letter-spacing: initial;

    + p {
      opacity: 0;
    }
  }

  &-title {
  }

  &-value {
    font-weight: bold
  }

  &.item-checkbox-checked {
    p {
      opacity: 1;
    }
  }
}

.proto-range {
  --padding-end: var(--proto-space-s);
  --knob-background: var(--ion-color-light);

  ion-range {
    padding-top: 0;
  }
}
