.proto-item-list {
  margin: 0 0 var(--proto-space);

  ion-list-header {
    @extend %p;
    --color: var(--ion-color-secondary);
  }

  .proto-button {
    margin: var(--proto-space) auto 0;

    &[expand="block"] {
      width: calc(100% - var(--proto-space) * 2);
    }
  }
}
