// css only parallax
// see https://developers.google.com/web/updates/2016/12/performant-parallaxing

[proto-parallax] {
  --background: transparent;

  .magic-pixel {
    @include size(1px);
  }

  .hero-background {
    position: relative;
    z-index: -1;
  }
}

.proto-parallax-container {
  position: relative;
}

.proto-parallax-element {
  top: 0;
  z-index: 0;
}

.proto-parallax-image {
  transform: translateZ(0) scale(1);
  transform-origin: center bottom;
}

.proto-parallax-content {
  position: relative;
  z-index: 1;
  min-height: calc(100vh - var(--tab-bar-height) - var(--ion-safe-area-bottom) - var(--ion-safe-area-top) - var(--toolbar-height));
  background: var(--ion-color-light);
}

.webkit [proto-parallax] {

  .proto-parallax {
    &-container {
      perspective: 1px;
      perspective-origin: bottom right;
      overflow: initial;
    }

    &-element {
      position: sticky;
      transform-style: preserve-3d;
      transform-origin: bottom right;
    }

    &-content {
      transform-style: preserve-3d;
    }
  }
}

ion-header + [proto-parallax] {
  --top-offset: var(--proto-space-xs); // reduce top flicker for fast negative scrolls

  top: calc(var(--toolbar-height) * -1 - var(--ion-safe-area-top) - var(--top-offset));
  flex: none;
  height: calc(100% + var(--top-offset));
}

.no-webkit {
  .proto-parallax-element {
    transform: none!important;
  }
}
