ion-header {

  ion-title {
    @extend %h3;
  }

  .title-ios {
    padding-right: var(--proto-space-xxl);
    padding-left: var(--proto-space-xxl);
  }

  .title-md {
    padding-right: var(--proto-space);
    padding-left: var(--proto-space-m);
  }

  ion-buttons + .title-md {
    padding-left: var(--proto-space-xs);
  }
}

ion-toolbar {
  --min-height: 50px;
  --background: var(--ion-color-toolbar);
  --color: var(--ion-color-toolbar-contrast);
  --border-color: var(--ion-border-color);

  .button {
    --color: var(--ion-color-primary);
    --min-width: 40px;
  }
}
