
ion-header {

  ion-title {
    @extend %h2;
  }

  .title-ios {
    padding-inline-start: var(--proto-space-xxl);
    padding-inline-end: var(--proto-space-xxl);
  }

  .proto-button ion-icon[slot=icon-only] {
    font-size: 24px;
  }
}

ion-toolbar {
  --border-width: 0 !important;
}
