ion-header {

  ion-title {
    @extend %h3;
  }
}

ion-toolbar {
  --border-width: 0 !important;
  --background: var(--ion-color-toolbar);
  --color: var(--ion-color-toolbar-contrast);

  .button {
    --color: var(--ion-color-toolbar-contrast);
  }
}
