.animate-if-visible {
  pointer-events: none;
  opacity: 0;
  transform: translateY(10px);
  transition: transform .3s, opacity .3s;
  &.is-visible {
    pointer-events: initial;
    opacity: 1;
    transform: none;
  }
}

.fade-in-out {
  animation: fade 2s;
}

@keyframes fade {
  0%, 20%, 100% { opacity: 0 }
  40%, 80% { opacity: 1 }
}
