.keyboard-will-show {
  ion-content {
    --keyboard-offset: var(--keyboard-height, 290px)!important;
  }

  .no-tabbar {
    --keyboard-offset: calc(var(--keyboard-height, 290px) - var(--ion-safe-area-bottom))!important;
  }

  .no-keyboard-padding {
    --keyboard-offset: 0!important;
  }
}

.empty-state {
  text-align: center;
  margin: var(--proto-space);

  h2 {
    margin-bottom: var(--proto-space-m);
  }
}

.form-block {
  margin-top: var(--proto-space-m);
}

.form-info-message {
  margin: var(--proto-space-m);
}

.form-buttons {
  display: flex;
  flex-direction: column;
  padding: 0 var(--proto-space-m);

  .hyperlink {
    display: block;
    margin: var(--proto-space-xs) 0 var(--proto-space) auto;
  }
}

// hide scrollbar by default
::-webkit-scrollbar {
  display: none;
}
