.keyboard-will-show {
  ion-content {
    --keyboard-offset: var(--keyboard-height, 290px)!important;
  }

  .no-tabbar {
    --keyboard-offset: calc(var(--keyboard-height, 290px) - var(--ion-safe-area-bottom))!important;
  }

  .no-keyboard-padding {
    --keyboard-offset: 0!important;
  }
}

.empty-state {
  text-align: center;
  margin: var(--proto-space);

  h2 {
    margin-bottom: var(--proto-space-m);
  }
}

.error-state {
  text-align: center;
  margin: var(--proto-space);

  h2 {
    margin-bottom: var(--proto-space-m);
  }
}

// hide scrollbar by default
::-webkit-scrollbar {
  display: none;
}

.has-active-state {
  pointer-events: none;
  opacity: 0;

  &.is-active {
    pointer-events: initial;
    opacity: 1;
  }
}
