.rte {
  margin: var(--proto-space-m) 0;
  padding: 0 var(--proto-space-m);

  &, p {
    @extend %p;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1.5em;
  }

  p:empty {
    display: none;
  }

  a {
    @extend %hyperlink;
  }

  ul {
    margin: 1em 0;
    padding-left: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
    margin-bottom: 1em;
    line-height: 1.5;
    color: var(--ion-color-secondary);
  }

  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
