.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  vertical-align: middle;
  svg {
    @extend %stretched-container;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}

// replace icon font icons with svg background image
// this is necessary for components in which we can't use our <app-svg-icon> helper (e.g. ion-tabs)
%ion-replace-icon {
  background-position: center center;
  background-size: 22px;
  background-repeat: no-repeat;
  &:before {
    content: '';
  }

  $tab-icons: home explore contacts profile more;
  @each $icon in $tab-icons {
    &[aria-label*="#{$icon}"] {
      background-image: url('../assets/icons/tabs/#{$icon}.svg');
      [aria-selected="true"] & {
        background-image: url('../assets/icons/tabs/#{$icon}-active.svg');
      }
    }
  }
}
