:root {
  --ion-font-family: 'Source Sans Pro', sans-serif;
  --proto-font-family-headlines: 'Source Sans Pro', sans-serif;
  --proto-font-size: 16px; // default font size
  --proto-line-height: 1.5; // default line height
}

$font-path: "~/assets/fonts";

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
  url('#{$font-path}/source-sans-pro-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{$font-path}/source-sans-pro-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
  url('#{$font-path}/source-sans-pro-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{$font-path}/source-sans-pro-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

%font-properties {
  font-family: var(--proto-font-family, sans-serif);
  font-size: var(--proto-font-size);
  font-weight: var(--proto-font-weight, inherit);
  font-style: var(--proto-font-style, inherit);
  line-height: var(--proto-line-height, inherit);
  text-transform: var(--proto-text-transform, inherit);
  letter-spacing: var(--proto-letter-spacing, initial);
}

// inspired by https://css-tricks.com/do-css-custom-properties-beat-sass-loops/


h1, .h1, %h1 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 28px;
  --proto-line-height: 40px;
  --proto-font-weight: 700;
}

h2, .h2, %h2 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 24px;
  --proto-line-height: 32px;
  --proto-font-weight: 700;
}

h3, .h3, %h3 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 20px;
  --proto-line-height: 24px;
  --proto-font-weight: 700;
}

h4, .h4, %h4 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 18px;
  --proto-line-height: 24px;
  --proto-font-weight: 700;
}

h5, .h5, %h5 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 16px;
  --proto-line-height: 20px;
  --proto-font-weight: 700;
}

h6, .h6, %h6 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 16px;
  --proto-line-height: 20px;
  --proto-font-weight: 700;
}

p, .p, %p {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 15px;
  --proto-line-height: 1.5;
  --proto-font-weight: 400;
}

small, .small, %small {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 12px;
  --proto-line-height: 12px;
  --proto-font-weight: 400;
}

tiny, .tiny, %tiny {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 10px;
  --proto-line-height: 16px;
  --proto-font-weight: 400;
}

input, .input, %input {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 14px;
  --proto-line-height: 1.5;
  --proto-font-weight: 400;
}

$font-tags: h1 h2 h3 h4 h5 h6 p small tiny input;

@each $h in $font-tags {
  #{$h}, .#{$h}, %#{$h} {
    @extend %font-properties;
  }

  // reset default margin for font tags
  #{$h} {
    margin: 0;
  }
}

.hyperlink, %hyperlink {
  @extend %p;

  color: var(--ion-color-primary);
  text-decoration: underline;
}

