/* stylelint-disable */

@import 'src/helpers';

:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

// Type: text
.text {
  &-scene {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: var(--proto-quiz-card-text-margin);
    + .text-scene {
      margin-top: 0;
    }
    perspective: 1000px;
  }
  &-card {
    width: var(--proto-quiz-card-text-width);
    height: var(--proto-quiz-card-text-height);
    border-radius: var(--proto-quiz-card-text-border-radius);
    box-shadow: var(--proto-quiz-card-text-box-shadow);
    transition: transform var(--proto-quiz-card-text-flip-duration);
    transform-origin: center right; // Do not touch this!
    transform-style: preserve-3d; // Do not touch this!
    &--static {
      transition: none;
    }
  
    &.is-flipped {
      transform: rotateX(-180deg); // Do not touch this!
    }
  
    &__face {
      position: absolute;
      width: 100%;
      height: 100%;
    
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      backface-visibility: hidden;
  
      &--front {
        overflow: hidden;
        color:            var(--proto-quiz-card-text-face-front-color);
        background-color: var(--proto-quiz-card-text-face-front-background-color);
        background-image: var(--proto-quiz-card-text-face-front-background-image);
        background-size:  var(--proto-quiz-card-text-face-front-background-size);
        border-radius:    var(--proto-quiz-card-text-face-front-border-radius);
        transform: rotateX(180deg);
        &--static {
          transform: rotateX(0);
        }
        &.is-selected {
          border-color: #7A8EA2;
          border-width: 5px;
          border-style: solid;
          background: #7A8EA2;
          color: white;
        }
        &.is-correct {
          border-color: #B8D8BB;
          border-width: 5px;
          border-style: solid;
          background: #CCE2C9;
        }
        &.is-wrong {
          filter: grayscale(0%);
          border-color: #EE8642;
          border-width: 5px;
          border-style: solid;
          background: #F2A772;
      
        }
      }
  
      &--back {
        color: var(--proto-quiz-card-text-face-back-color);
        background-color: var(--proto-quiz-card-text-face-back-background-color);
        background-image: var(--proto-quiz-card-text-face-back-background-image);
        background-size: var(--proto-quiz-card-text-face-back-background-size);
        border-radius: var(--proto-quiz-card-text-face-back-border-radius);
        overflow: hidden; // Do not touch this!
        transform: rotateY(0deg); // Do not touch this!
        &--static {
          transform: rotateY(-180deg); // Do not touch this!
        }
      }
    }
  }
}

// Type: image
.image {
  &-scene {
    margin: var(--proto-space-xs);

    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    flex-wrap: wrap;

    overflow: initial; // Do not touch this!
    perspective: 600px; // Do not touch this!
  }
  &-card {

    @mixin proper-aspect-ratio($width, $horizontal, $vertical) {
      position: relative;
      display: block;
      overflow: hidden;
      &::before {
        pointer-events: none;
        content: '';
        display: block;
        width: 100%;
        padding-top: ($horizontal / $vertical) * 100%;
      }
      width: $width;
    }

    @include proper-aspect-ratio(var(--proto-quiz-card-image-width),1, 1);

    margin: var(--proto-quiz-card-image-margin);
    & + .proto-quiz-card-image {
      margin-left: var(--proto-quiz-card-image-margin);
    }

    border-radius:    var(--proto-quiz-card-image-border-radius);
    box-shadow:       var(--proto-quiz-card-image-box-shadow);

    transform-origin: right center; // Do not touch this!
    transform-style: preserve-3d; // Do not touch this!
    transition: transform var(--proto-quiz-card-image-flip-duration);
    overflow: initial;

    &.is-flipped {
      transform: translateX(-100%) rotateY(-180deg); // Do not touch this!
    }

    &__face {
      position: absolute; // Do not touch this!
      top: 0; // Do not touch this!
      width: 100%;
      height: 100%;

      border-radius:      var(--proto-quiz-card-image-face-back-border-radius);
      backface-visibility: hidden; // Do not touch this!
      overflow: hidden; // Do not touch this!

      &--front {
        display: flex;
        align-items: center;
        justify-content: center;

        color:            var(--proto-quiz-card-image-face-front-color);
        background-color: var(--proto-quiz-card-image-face-front-background-color);
        background-image: var(--proto-quiz-card-image-face-front-background-image);
        background-size:  var(--proto-quiz-card-image-face-front-background-size);
        border-radius:    var(--proto-quiz-card-image-face-front-border-radius);
        overflow: hidden; // Do not touch this!
      }

      &--back {
        color:            var(--proto-quiz-card-image-face-back-color);
        background-color: var(--proto-quiz-card-image-face-back-background-color);
        background-image: var(--proto-quiz-card-image-face-back-background-image);
        background-size:  var(--proto-quiz-card-image-face-back-background-size);
        border-radius:    var(--proto-quiz-card-image-face-back-border-radius);
        overflow: hidden; // Do not touch this!
        transform: rotateY(180deg); // Do not touch this!
      }
    }

    &__overlay {
      pointer-events: none;
      z-index: 2;
      position: absolute;
      top:0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      // border-color: #B8D8BB;
      border-radius: inherit;
      border-width: 5px;
      border-style: solid;
      background: pink;
      opacity: 0;

      &.is-selected {
        border-color: white;
        border-width: 5px;
        border-style: solid;
        background: #7A8EA2;
        color: white;
        opacity: 0.75;
      }

      &.is-correct {
        border-color: #B8D8BB;
        // border-radius: 5px;
        border-style: solid;
        background: #CCE2C9;
        opacity: 0.85;
      }
      &.is-wrong {
        filter: grayscale(0%);
        border-color: #EE8642;
        // border-radius: 5px;
        border-style: solid;
        background: #F2A772;
        opacity: 0.85;
      }
    }

    &__icon {
      z-index: 3;
      font-size: 40px;
      line-height: 24px;
    }

    &__text {
      z-index: 3;
      position: absolute;
    }
  }
}

// Type: boolean
.boolean {
  &-scene {
    width: 100%;

    margin: var(--proto-space-xs);
  
    overflow: initial;
    perspective: 600px; // Do not touch this!
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    flex-wrap: wrap;
  }
  &-card {
    @mixin proper-aspect-ratio($width, $horizontal, $vertical) {
      position: relative;
      display: block;
      overflow: hidden;
      &::before {
        pointer-events: none;
        content: '';
        display: block;
        width: 100%;
        padding-top: ($horizontal / $vertical) * 100%;
      }
      width: $width;
    }

    @include proper-aspect-ratio(var(--proto-quiz-card-boolean-width),1, 1);

    margin: var(--proto-quiz-card-boolean-margin);
    & + .proto-quiz-card-image {
      margin-left: var(--proto-quiz-card-boolean-margin);
    }

    border-radius:    var(--proto-quiz-card-boolean-border-radius);
    box-shadow:       var(--proto-quiz-card-boolean-box-shadow);

    transform-origin: right center; // Do not touch this!
    transform-style: preserve-3d; // Do not touch this!
    transition: transform var(--proto-quiz-card-boolean-flip-duration);
    overflow: initial;

    &.is-flipped {
      transform: translateX(-100%) rotateY(-180deg); // Do not touch this!
    }

    &__face {
      position: absolute; // Do not touch this!
      top: 0; // Do not touch this!
      width: 100%;
      height: 100%;

      border-radius:      var(--proto-quiz-card-boolean-face-back-border-radius);
      backface-visibility: hidden; // Do not touch this!
      overflow: hidden; // Do not touch this!

      &--front {
        color:  var(--proto-quiz-card-boolean-face-front-color);
        background-color: var(--proto-quiz-card-boolean-face-front-background-color);
        background-image: var(--proto-quiz-card-boolean-face-front-background-image);
        background-size: var(--proto-quiz-card-boolean-face-front-background-size);
        border-radius: var(--proto-quiz-card-boolean-face-front-border-radius);

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden; // Do not touch this!
      }

      &--back {
        color: var(--proto-quiz-card-boolean-face-back-color);
        background-color: var(--proto-quiz-card-boolean-face-back-background-color);
        background-image: var(--proto-quiz-card-boolean-face-back-background-image);
        background-size: var(--proto-quiz-card-boolean-face-back-background-size);
        border-radius: var(--proto-quiz-card-boolean-face-back-border-radius);
        
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden; // Do not touch this!
        transform: rotateY(180deg); // Do not touch this!
      }
    }

    &__overlay {
      pointer-events: none;
      z-index: 2;
      position: absolute;
      top:0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      // border-color: #B8D8BB;
      border-radius: inherit;
      border-width: 5px;
      border-style: solid;
      background: pink;
      opacity: 0;

      &.is-selected {
        border-color: white;
        border-width: 5px;
        border-style: solid;
        background: #7A8EA2;
        color: white;
        opacity: 0.75;
      }

      &.is-correct {
        border-color: #B8D8BB;
        // border-radius: 5px;
        border-style: solid;
        background: #CCE2C9;
        opacity: 0.85;
      }
      &.is-wrong {
        filter: grayscale(0%);
        border-color: #EE8642;
        // border-radius: 5px;
        border-style: solid;
        background: #F2A772;
        opacity: 0.85;
      }
    }

    &__icon {
      z-index: 3;
      font-size: 40px;
      line-height: 24px;
    }
  }
}