<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="!needsConsent" slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ agreement?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner class="proto-spinner" *ngIf="!firstLoadFinished" color="dark"></ion-spinner>

  <ng-container *ngIf="firstLoadFinished">
    <div class="rte agreement-block"
      *ngIf="agreement.excerpt"
      [innerHtml]="agreement.excerpt">
    </div>

    <div class="rte agreement-block"
      *ngIf="agreement.content"
      [innerHtml]="agreement.content">
    </div>
  </ng-container>
</ion-content>

<ion-footer *ngIf="needsConsent && firstLoadFinished" class="ion-no-border">
  <ion-toolbar transparent>
    <div class="form-buttons">
      <ion-button class="proto-button" color="dark" fill="clear" (click)="close()">
        {{ 'BUTTON.CANCEL' | translate }}
      </ion-button>
      <ion-button class="proto-button" fill="solid" (click)="consent()">
        {{ 'BUTTON.CONSENT' | translate }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
