<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="!needsConsent" slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ agreement?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="rte agreement-block"
    *ngIf="agreement?.excerpt"
    [innerHtml]="agreement.excerpt">
  </div>

  <div class="rte agreement-block"
    *ngIf="agreement?.content"
    [innerHtml]="agreement.content">
  </div>
</ion-content>

<ion-footer *ngIf="needsConsent" no-border>
  <ion-toolbar transparent>
    <div class="form-buttons">
      <ion-button (click)="close()" color="dark" fill="clear" class="proto-button">
        {{ 'BUTTON.CANCEL' | translate }}
      </ion-button>
      <ion-button (click)="consent()" fill="solid" class="proto-button">
        {{ 'BUTTON.CONSENT' | translate }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
